h2.proxy-create-title {
  margin: auto;
}

.create-proxy-form {

  height: 275px;


  label.radio-label {
    color: rgba(0,0,0,.54);
    font-size: 1em;
    font-weight: normal;
    display: block;
    margin-left: 2px;
  }

  mat-form-field {
    display: block;
  }

  mat-radio-button {
    margin-right: 15px;
  }

}

mat-dialog-actions.proxy-create-buttons {
  margin-bottom: -10px;
}
