<div *ngIf="proxy">
  <h2 class="mat-title">{{proxy.name}}</h2>
  <mat-list>
    <mat-list-item>{{proxy.name}}</mat-list-item>
    <mat-list-item>{{proxy.listen}}</mat-list-item>
    <mat-list-item>{{proxy.upstream}}</mat-list-item>
    <mat-list-item>{{proxy.enabled}}</mat-list-item>
  </mat-list>

  <h3 class="mat-title">Toxics</h3>
  <mat-card *ngFor="let toxic of proxy?.toxics">
    <mat-card-title>
      {{toxic.name}}
    </mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>{{toxic.type}}</mat-list-item>
        <mat-list-item>{{toxic.stream}}</mat-list-item>
        <mat-list-item>{{toxic.toxicity}}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
